.root {
    li {
        display: inline-block;

    }

    a {
        display: inline-block;
        cursor: pointer;
        color: #fe5f1e;
        text-align: center;
        line-height: 42px;
        width: 45px;
        height: 45px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        margin-right: 10px;

        &:hover {
            background-color: #fe5f1e;
            color: #fff;
        }

    }

    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: #fff;
            }
        }
    }
}