.root {
    position: relative;
    left: -120px;

    @media (max-width: 1400px) {
        left: 0;
    }
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    padding-left: 42px;
    width: 400px;
    border-radius: 12px;
    font-size: 16px;

    transition: all 0.15s ease-in-out;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.2)
    }

    @media (max-width: 1200px) {
        width: 200px;
    }

}

.icon {
    width: 22px;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    left: 14px;
    top: 12px;
}

.closeIcon {
    position: absolute;
    top: 12px;
    right: 14px;
    width: 22px;
    height: 22px;
    opacity: 0.7;
    cursor: pointer;
}